# Allow build scripts for these packages
@prisma/client:build-scripts=true
@prisma/engines:build-scripts=true
@sentry/cli:build-scripts=true
esbuild:build-scripts=true
inngest-cli:build-scripts=true
prisma:build-scripts=true
protobufjs:build-scripts=true
sharp:build-scripts=true
